body {
    background-size: cover;    
    background-image: url("/resource/BankBg.jpg"); /*choose image from static resource*/
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {

    background-color: #005c6e;   
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    display: block;
    padding: 0.5rem;
    font-size: 16px;
    font-family: Arial;
}
.logout-btn{
    text-align: right;
}
.menu-button {

    background-color: #005c6e;   
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.5rem;
    margin: 20px;;
    font-size: 16px;
    font-family: Arial;
}
.main-container{
    padding: 5%;
}
.main-heading {

    font-size: 20px;
    color: rgb(0, 0, 0);
}
.main-userheading{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.sub-heading {

    font-size: 14px;
    color: rgb(0, 0, 0);
}

.input-icon {

    position: absolute;
    margin: 0.9rem 0.7rem;
}

.input-element {

    padding: 0.5rem 0rem 0.5rem 2rem;
    font-size: 16px;
}

.text-align-center {
    text-align: center;
}

.forgot-password-text {

    color: #000000;
    font-size: 14px;
    text-align: left;
}

.register-text {

    color: #000000;
    font-size: 14px;
    float: right;
}
.column-input{
    width: 100%;
}
.error {

    text-align: center;
    word-break: break-word;
    max-width: 20rem;
    color: #ff9e9e;
}
.backgroundImg{
    background-size: cover;
}